<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up page</title>
</head>
<body><form action="save" method="post">
    <table>
        <tr>
            <td><label>User Name:
                <input type="text" name="name"/>
            </label></td>
        </tr>
        <tr>
            <td><label>Email:
                <input type="text" name="email"/>
            </label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>